Walmart.Data/Web References/add/add.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cidade" type="tns:Cidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cidade">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodEstado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="tns:Estado" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capital" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Regiao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="AdicionarSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AdicionarHttpGet" />
  <wsdl:portType name="AdicionarHttpPost" />
  <wsdl:binding name="AdicionarSoap" type="tns:AdicionarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdicionarSoap12" type="tns:AdicionarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdicionarHttpGet" type="tns:AdicionarHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="AdicionarHttpPost" type="tns:AdicionarHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Adicionar">
    <wsdl:port name="AdicionarSoap" binding="tns:AdicionarSoap">
      <soap:address location="http://localhost:1000/cidades/add" />
    </wsdl:port>
    <wsdl:port name="AdicionarSoap12" binding="tns:AdicionarSoap12">
      <soap12:address location="http://localhost:1000/cidades/add" />
    </wsdl:port>
    <wsdl:port name="AdicionarHttpGet" binding="tns:AdicionarHttpGet">
      <http:address location="http://localhost:1000/cidades/add" />
    </wsdl:port>
    <wsdl:port name="AdicionarHttpPost" binding="tns:AdicionarHttpPost">
      <http:address location="http://localhost:1000/cidades/add" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>