Walmart.Data/Web References/upd/Atualizar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cidade" type="tns:Cidade" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cidade">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodEstado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="tns:Estado" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Capital" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Regiao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="AtualizarSoap">
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AtualizarHttpGet" />
  <wsdl:portType name="AtualizarHttpPost" />
  <wsdl:binding name="AtualizarSoap" type="tns:AtualizarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AtualizarSoap12" type="tns:AtualizarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AtualizarHttpGet" type="tns:AtualizarHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="AtualizarHttpPost" type="tns:AtualizarHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="Atualizar">
    <wsdl:port name="AtualizarSoap" binding="tns:AtualizarSoap">
      <soap:address location="http://localhost:1000/Atualizar.asmx" />
    </wsdl:port>
    <wsdl:port name="AtualizarSoap12" binding="tns:AtualizarSoap12">
      <soap12:address location="http://localhost:1000/Atualizar.asmx" />
    </wsdl:port>
    <wsdl:port name="AtualizarHttpGet" binding="tns:AtualizarHttpGet">
      <http:address location="http://localhost:1000/Atualizar.asmx" />
    </wsdl:port>
    <wsdl:port name="AtualizarHttpPost" binding="tns:AtualizarHttpPost">
      <http:address location="http://localhost:1000/Atualizar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>